.navbar {
  background-color: white;
  position: sticky;
  top:0;
  width: 100%;
  height: $nav-height;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 5px 10px $grey;
  -moz-box-shadow: 0 5px 10px $grey;
  box-shadow: 0 5px 10px $grey;
  padding: 0 15px;
  z-index: 2;
  margin-bottom: 75px;
}

.title-big {
  font-size: $font-big;
}

.wolox-logo {
  width: 200px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1040px;
  margin: 0 auto;
}

.technology-group {
  &:not(:first-child){
    margin-top: 100px;
  }
}

.title-medium {
  font-size: $font-big;
  position: relative;
  margin-bottom: 50px;

  &:before {
    content: "";
    display: inline-block;
    background: url("../assets/triangle.svg") no-repeat;
    height: $triangle-height;
    width: $triangle-width;
    position: absolute;
    top: -35px;
    left: -50px;
    z-index: -1;
  }
}

.technology-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(2, 320px);
  grid-column-gap: 15px;
}

.technology-card {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: $font-small;
  text-align: center;
  position: relative;
  border-radius: 5px;
  &:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    border-right: 2px solid $green;
  }
}

.tech-logo {
  height: $tech-logo-size;
  width: $tech-logo-size;
  margin: 20px 0 5px;
}

.tech-title {
  margin: 5px;
  font-size: $font-medium;
  display: block;
}

.tech-release {
  font-weight: bold;
  margin: 10px;
}

.tech-description {
  margin: 20px 5px;
}

.footer-contact {
  padding: 15px 0;
  height: $footer-height;
  background-color: $blue;
}

.form-contact {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-contact {
  margin: 5px 0;
  font-size: $font-big;
  color: white;
}

.text-contact {
  margin: 5px 0;
  border-radius: 5px;
  height: 30px;
  min-width: 300px;
  max-width: 350px;
}

.button-contact {
  margin: 5px 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-size: $font-medium;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .title-big {
    display: none;
  }

  .technology-list {
    display: block;
  }

  .technology-card {
    width: 220px;
    border-bottom: 2px solid $green;
    &:first-child {
      border-right: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
