.navbar {
  background-color: white;
  position: sticky;
  top:0;
  width: 100%;
  height: $nav-height;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 5px 10px 0 $grey;
  -moz-box-shadow: 0 5px 10px 0 $grey;
  box-shadow: 0 5px 10px $grey;
  padding: 0 15px;
	z-index: 2
}

.title-big {
  font-size: $font-big;
}

.wolox-logo {
  width: 200px;
}

.main-section {
  margin: 0 140px;
}

.technology-group {
	margin: 100px 0 40px 0;
}

.title-medium {
  font-size: $font-big;
	position: relative;
}

.title-medium:before {
	content: "";
	display: inline-block;
	background: url("../assets/triangle.svg") no-repeat;
	height: $triangle-height;
	width: $triangle-width;
	position: absolute;
	top: -35px;
	left: -50px;
	z-index: -1;
}

.technology-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.technology-card {
  width: 220px;
  height: 320px;
  margin: 50px 20px;
	padding: 0 15px;
  border: 1px solid $green;
  border-radius: 5px;
  font-size: $font-small;
	text-align: center;
	position: relative;
}

.technology-card:before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 10px;
	left: 10px;
	border-radius: 5px;
	background-color: $green;
	z-index: -1;
}

.technology-card:hover:before {
	top: 0;
	left: 0;
}

.tech-logo {
	height: $tech-logo-size;
  width: $tech-logo-size;
	margin: 20px 0 5px 0;
}

.tech-title {
	margin: 5px;
	font-size: $font-medium;
}

.tech-release {
	font-weight: bold;
	margin: 10px;
}

.tech-description {
	margin: 20px 5px;
}

.footer-contact {
	height: $footer-height;
	background-color: $blue;
  padding: 20px 0 0;
	color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-contact {
  margin: 5px 0;
	font-size: $font-big;
	color: white;
}

.text-contact {
  margin: 5px 0;
	border-radius: 5px;
  height: 32px;
  width: 17.5%;
}

.button-contact {
  margin: 5px 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-size: $font-medium;
  text-transform: uppercase;
}
