@import '../../../../../../variables/_colors';
@import '../../../../../../variables/_fonts';
@import '../../../../../../variables/_sizes';

.navbar-add-suggestion-modal-field-group {
  margin-bottom: 20px;
  text-align: left;
}

.navbar-add-suggestion-modal-field-title {
  margin: 0 0 5px 5px;
  font-size: $font-small;
  font-weight: normal;
}

.navbar-add-suggestion-modal-field {
  height: 35px;
  width: 100%;
  border: 0;
  background-color: $light-grey;
}

.navbar-add-suggestion-modal-button-cancel,
.navbar-add-suggestion-modal-button-accept {
  width: 175px;
  height: 40px;
  border: 0;
  font-size: $font-medium;
  color: $white;
  font-weight: bold;
}

.navbar-add-suggestion-modal-button-cancel {
  background-color: $grey;
}

.navbar-add-suggestion-modal-button-accept {
  background-color: $blue;
}

.navbar-add-suggestion-modal-fields-inline,
.navbar-add-suggestion-modal-button-group {
  display:flex;
  justify-content: center;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
}
