@import '../../../../../../variables/_colors';
@import '../../../../../../variables/_fonts';
@import '../../../../../../variables/_sizes';

.navbar-notification-item {
  display: flex;
  width: 300px;
  padding: 5px;
}

.text-column {
  display: flex;
  flex-direction: column;
}

.navbar-notification-item-image {
  margin: 5px;
}

.navbar-notification-item-reason {
  font-size: $font-medium;
  font-weight: lighter;
  font-style: italic;
  padding-bottom: 5px;
}

.navbar-notification-item-book-title {
  font-size: $font-medium;
  font-weight: bold;
}

.navbar-notification-item-book-author {
  font-size: $font-small;
  color: $dark-grey;
  padding-bottom: 5px;
}

.navbar-notification-item-date {
  font-size: $font-small;
  color: $red;
}
