@import '../../variables/_colors';
@import '../../variables/_fonts';
@import '../../variables/_sizes';

.login-screen {
  max-width: 550px;
  margin: 20vh auto;
  text-align: center;
}

.login-title{

  font-size: $font-title;
  margin-top: 0;
}

.login-submit-container {
  width: 100%;
}

.login-submit {
  width: 200px;
  height: 40px;
  background-color: $blue;
  border: 0;
  font-size: $font-title;
  color: $white;
  font-weight: bold;
  margin: 25px 0;
}
