@import 'variables/_colors';
@import 'variables/_fonts';
@import 'variables/_sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
  font-family: $font;
}

.go-back {
  font-size: $font-small;
  margin-left: 35px;
}
